*.gem
*.swp
*_flymake.*
*~
/.*
/bench/exports/
/build/
/cache/
/coverage/
/doc/
/tmp/
/vendor/
!/**/.gitkeep
!/.codeclimate.yml
!/.env
!/.gitignore
!/.rspec
!/.rubocop.yml
!/.solargraph.yml
!/.yardopts